<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="socket.io/socket.io.js"></script>
    <script src = "js/index.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <p id = 'playerCount'>player count : </p>
    
    <div class="flex-container">
        <p>reset room :&nbsp;</p>
        <input type = 'text' placeholder="room id" id = "roomID"> </input>
        <button onclick="reset()"> reset </button>
    </div>
    
</body>
</html>